*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container{

  border: 2px solid brown;
  width: 450px;
  background-color: rgb(190, 234, 147);
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.card-container{
  border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.card-container img{

  width: 350px;
  border-radius: 50%;
}

.card-container button{
  padding: 10px 30px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  background: red;
  color: white;
  font-style: italic;

}